{:paths ["test/clj" "test/resources"]
 :deps {io.github.getcolors/umami {:local/root "."}}
 :tasks
 {test {:requires ([clojure.test :as t]
                   [io.github.getcolors.umami.validate-test]
                   [io.github.getcolors.umami.tools-test]
                   [io.github.getcolors.umami.workflow-test])
        :task (let [{:keys [fail error]}
                    (t/run-tests 'io.github.getcolors.umami.validate-test
                                 'io.github.getcolors.umami.tools-test
                                 'io.github.getcolors.umami.workflow-test)]
                (System/exit (if (pos? (+ fail error)) 1 0)))}
  golden {:task (shell "../scripts/golden.sh")}
  golden:accept {:task (shell "../scripts/golden.sh" "--accept")}
  pin {:task (load-file "tasks/pin.clj")}}}
